/* seekers-testimonial
------------------------- */
.seeker-testimonial {
    padding: 60px 0 80px;
    background: #f9fbff;
}
.seeker-testimonial h3 {
    font-size: 40px;
}
.seeker-testimonial h3 {
    color: #0e101a;
    /* font-size: 48px; */
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 30px;
}
/* .testimonial-carousel {
    padding: 40px 0;
} */
.slick-initialized .slick-slide[data-v-e4caeaf8] {
    display: block;
}
.slick-slide[data-v-e4caeaf8] {
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
}
.testimonial-card {
    height: 430px;
}
.testimonial-card {
    padding: 25px;
    /* height: 430px; */
    border-radius: 10px;
    background-color: #fff;
    width: 95%!important;
}
.testimonial-card .seeker-img {
    margin-bottom: 20px;
}
.testimonial-card .seeker-img img {
    width: 113px;
    height: 113px;
    border-radius: 50%;
}
.slick-slide img[data-v-e4caeaf8] {
    display: block;
}
img {
    max-width: 100%;
}
.testimonial-card h4 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 12px;
}
.testimonial-card p {
    color: grey;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}