.navbar.bg-light {
  background-color: #fff !important;
  padding: 30px 0;
  box-shadow: 0 10px 20px 0 hsl(0deg 0% 89% / 25%);
}

nav.navbar.sticky-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.navbar-light .navbar-brand img {
  max-width: 172px;
}

.navbar-nav {
  align-items: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  padding: 20px 10px;
  position: relative;
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.nuxt-link-active:before,
.navbar-light .navbar-nav .nav-link:hover:before {
  content: "";
  background-color: #2ce2a2;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.bordered-btn {
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid #2ce2a2;
  background-color: #fff;
  padding: 5px 10px;
  color: #2ce2a2;
  font-size: 16px;
  transition: all 0.3s;
}
.bordered-btn,
h3.title-sm {
  font-weight: 700;
  text-align: center;
}
.bordered-btn:hover {
  color: #2ce2a2;
  border-color: #2ce2a2;
  transition: all 0.3s;
}

.navbar .button-sm[data-v-6a4c5e40] {
  width: 145px;
  font-size: 15px;
  margin: 0 10px;
}

button.btn.watch-demobtn[data-v-6a4c5e40] {
  width: 40px;
  transition: width 0.5s;
  overflow: hidden;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav li:last-child button[data-v-6a4c5e40] {
  margin-right: 0;
}

button.btn.watch-demobtn[data-v-6a4c5e40]:hover {
  width: 145px;
  transition: width 0.2s;
}

button.btn.watch-demobtn span.text[data-v-6a4c5e40] {
  white-space: nowrap;
  width: 0;
  overflow: hidden;
  color: #2ce2a2;
}

button.btn.watch-demobtn .icon[data-v-6a4c5e40] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-right: 7px;
  background: #fff;
}

button.btn.watch-demobtn:hover span.text[data-v-6a4c5e40] {
  width: auto;
}

.bordered-btn svg[data-v-6a4c5e40],
.default-btn svg[data-v-6a4c5e40] {
  margin-left: 10px;
}

.svg-inline--fa {
  display: inline-block;
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 740px;
  }
  .navbar.bg-light[data-v-6a4c5e40] {
    padding: 15px 0;
  }
  .navbar-collapse[data-v-6a4c5e40] {
    position: absolute;
    top: 87px;
    left: 0;
    z-index: 999;
    width: 100%;
    background: #f1f4f7;
  }

  .nav-dropdown-link[data-v-6a4c5e40] {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .navbar-light .navbar-nav .nav-link[data-v-6a4c5e40] {
    padding: 5px 7px;
    font-size: 16px;
    text-align: center;
  }

  .navbar-light .navbar-nav .nav-link.nuxt-link-active[data-v-6a4c5e40]:before,
  .navbar-light .navbar-nav .nav-link[data-v-6a4c5e40]:hover:before {
    bottom: -3px;
  }

  .navbar-light .navbar-nav li.nav-item[data-v-6a4c5e40] {
    padding: 5px 0;
  }

  .bordered-btn,
  .default-btn {
    font-size: 14px;
    padding: 6px 9px;
  }

  .navbar .button-sm[data-v-6a4c5e40] {
    width: 130px;
    font-size: 14px;
    margin: 0 4px;
  }

  .navbar .button-sm[data-v-6a4c5e40] {
    width: 160px;
  }

  .navbar-nav li:last-child button[data-v-6a4c5e40] {
    margin-bottom: 0;
  }
  .navbar-nav li:last-child button[data-v-6a4c5e40] {
    margin-right: 0;
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .navbar.bg-light[data-v-6a4c5e40] {
    padding: 10px 0;
  }
  .navbar-collapse[data-v-6a4c5e40] {
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 9;
    width: 100%;
    background: #f1f4f7;
  }
  .navbar-light .navbar-nav .nav-link.nuxt-link-active[data-v-6a4c5e40]:before,
  .navbar-light .navbar-nav .nav-link[data-v-6a4c5e40]:hover:before {
    bottom: -3px;
  }
  .nav-dropdown-link[data-v-6a4c5e40] {
    padding-top: 0;
    padding-bottom: 15px;
  }
  .navbar-light .navbar-nav li.nav-item[data-v-6a4c5e40] {
    padding: 5px 0;
  }

  .navbar-light .navbar-nav .nav-link[data-v-6a4c5e40] {
    padding: 5px 7px;
    text-align: center;
  }

  .default-btn {
    font-size: 15px;
    padding: 6px 9px;
  }

  .button-sm {
    width: 170px;
    height: 40px;
  }

  .navbar-nav li button[data-v-6a4c5e40] {
    margin: 5px auto;
  }

  .navbar-nav li:last-child button[data-v-6a4c5e40] {
    margin-bottom: 0;
    margin-right: 0;
  }
}
