/* job-seekers-banner-section
------------------------------*/
section.job-seeker {
    padding-bottom: 50px;
}

.building-profile, .job-seeker-banner {
    padding: 60px 0;
}
.job-seeker-banner-old .container {
    max-width: 630px!important;
}
.job-seeker-banner-old .jobseeker-banner-content {
    padding-top: 50px;
}
.jobseeker-banner-content h1 {
    margin-bottom: 20px;
}
h1, h2.title-big {
    font-size: 40px;
    /* margin-bottom: 35px; */
    font-weight: 700;
    line-height: normal;
    color: #0e101a;
}
.job-seeker-banner-old .jobseeker-banner-img {
    max-width: 100%;
    padding: 0;
    display: inherit;
}
.jobseeker-banner-img {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    /* max-width: 75%;
    padding: 0 20px; */
}
.job-seeker-banner-old .jobseeker-banner-img img {
    width: auto;
}

/* building profile section
---------------------------- */
.building-profile-content {
    padding-top: 70px;
}
h3.title-md.mb-65 {
    margin-bottom: 65px;
}
h3.title-md {
    font-size: 32px;
    /* margin-bottom: 30px; */
}
h3.title-md {
    font-weight: 700;
    line-height: normal;
    color: #121127;
}
.button-sm {
    width: 174px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-btn {
    border-radius: 20px;
    background-color: #2ce2a2;
    border-color: #2ce2a2;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 11px;
    line-height: normal;
    transition: all .3s;
}

/* connect-instantly-section
------------------------------ */
.connect-instantly, .verified-recruiters {
    margin-bottom: 60px;
}
.connect-instantly .row, .verified-recruiters .row {
    align-items: center;
}
.connect-instantly-img, .verified-recruiters-img {
    text-align: center;
}
h3.title-md.mb-65 {
    margin-bottom: 65px;
}
h3.title-md {
    font-size: 32px;
    color: #121127;
    /* margin-bottom: 30px; */
}


/* verified-recruiters-section
-------------------------------- */
.connect-instantly, .verified-recruiters {
    margin-bottom: 60px;
}
.connect-instantly .row, .verified-recruiters .row {
    align-items: center;
}
h3.title-md.mb-65 {
    margin-bottom: 65px;
}
 
h3.title-md {
    font-size: 32px;
    /* margin-bottom: 30px; */
}
h3.title-md {
    color: #121127;
}
.connect-instantly-img, .verified-recruiters-img {
    text-align: center;
}
